parameters:
    level: 9
    paths:
        - app
        - config
        - database/factories
        - database/seeders
        - routes
    excludePaths:
        - app/Console/Kernel.php (?)
        - bootstrap/app.php
        - config/app.php
        - storage/framework/*
        - vendor/*
        - public/index.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to an undefined method Illuminate\\Http\\Request#'
        - '#Method Illuminate\\Http\\Request::input\(\) should return#'
        - '#Method Illuminate\\Http\\Request::get\(\) should return#'
        - '#Call to an undefined method Illuminate\\Testing\\TestResponse#'